---
layout: archive
author_profile: false
header:
  overlay_image: forest.jpg
  overlay_filter: 0.0 # same as adding an opacity of 0.5 to a black background
  cta_label: "Download"
  cta_url: "/download"
---

{% include base_path %}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

{% for post in site.posts %}
{% if post.category == "example" or post.category == "faq" or post.category == "tutorial" or post.category == "solver" or post.category == "command" or post.category == "reference"%}
{% else %}
{% include archive-single.html type="grid" %}
{% endif %}
{% endfor %}
<!-- {% include paginator.html %} -->
